<div id="game">
  <%if @loser %>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner %>
      <div class="alert alert-success"><%=@winner%></div>
    <% end %>

  <h3>Welcome to the Blackjack table <%= session[:name] %>!</h3>

    <div class="well" id="dealer_cards">
    <h4>Dealer's Cards:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
      <img src="/images/cards/cover.jpg">
      <% else %>
      <%= card_image(card) %>
    <% end %>
  <% end %>

  <% if @show_dealer_hit_button %>
    <p>
        <h5>Dealer has <%= calc_total(session[:dealer_cards])%> and will hit again</h5>
    <form id="dealer_hit" action='/game/dealer/hit' method='post'>
      <input type='submit' class='btn btn-primary' value='Click to See Dealer Card &rarr;'>
       </form>
      </p>
    <% end %>
  </div>
  <p>
  What would you like to do?
  </br>
  <h4><%= session[:name] %> has <%= calc_total(session[:player_cards]) %></h4>
<% if @show_hit_or_stay_buttons %>
  <form id="hit_form" action='/game/player/hit' method='post'>
    <input type="submit" class="btn btn-primary" value="Hit">
  </form>
  <form id="stay_form" action='/game/player/stay' method="post">
    <input type="submit" class="btn btn-success" value="Stay">
  </form>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bet: $<%= session[:player_bet] %> Total Cash: $<%= session[:player_pot] %></h4>
  <% end %>
  <% if @play_again %>
    <p>
      <strong>Play Again <%= session[:name] %>?</strong>
      <a href="/bet" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn">No</a>
    </p>
  <% end %>
  <br>
  <div class="well" id="player_cards">
  <h4><%= session[:name] %>'s Cards: </h4>

    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>

  </div>
  </br>  
    </p>
</div>
  